<div class="pl-4 navbar navbar-dark" style="background-color: whitesmoke;">
    <a class="navbar-brand"><img src="/assests/pam_circletransparent.png" alt="" border=3 width="45" style="margin-right:10px;">PAM</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <span class="fa fa-list fa-lg" aria-hidden="true"></span> Projects
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="fa fa-file-text fa-lg" aria-hidden="true"></span> Contracts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="fa fa-sitemap fa-lg" aria-hidden="true"></span> Workflow
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="fa fa-folder-open fa-lg" aria-hidden="true"></span> Documentation
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="fa fa-bar-chart fa-lg" aria-hidden="true"></span> Reports
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="fa fa-user fa-lg" aria-hidden="true"></span> Admin
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="CallServerSide">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Call Server Side
            </NavLink>
        </li>*@
        <AuthorizeView>
            <Authorized>
                @*<b>Hello, @context.User.Identity.Name!</b>
                <a class="ml-md-auto btn btn-primary"
                   href="/logout?returnUrl=/"
                   target="_top">Logout</a>*@
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/logout?returnUrl=/">
                        <span class="fa fa-sign-out fa-lg" aria-hidden="true"></span> Logout
                    </NavLink>
                </li>

            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/index">
                        <span class="fa fa-sign-in fa-lg" aria-hidden="true"></span> Login
                    </NavLink>
                </li>
            </NotAuthorized>

        </AuthorizeView>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
