@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;width:100%;height:100%;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i&display=swap');

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 4.1rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.main .top-row {
    background-color: #fff;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
}

.main .top-row > a {
    margin-left: 1.5rem;
}

.sidebar {
    background-color: #244A5C;
}

.sidebar .top-row {
    background-color: rgba(0,0,0,0.4);
}

    .sidebar .navbar-brand {
        font-size: 1.4rem;
        color: #182F39 !important;
        font-weight:700;
    }

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
        z-index:2;
    }

    .main .top-row {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        padding-left: 280px !important;
        padding-bottom:0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
        padding-bottom:2rem;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

/************************************************************Main Page and Login css starts here************************************************************************/


body {
    font-size: 14px;
}

.PassedBack {
    background-color: #ffc600;
}

.Implemented {
    background-color: #7bd663;
}

.Cancelled {
    background-color: #e6e6e6;
}

.ProjectSetup {
    background-color: #67b1df;
}

.GREEN {
    color: #46a941;
}

.AMBER {
    color: #ffc100;
}

.RED {
    color: #d83f4e;
}

#programs {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
}

    #programs td, #programs th {
        border: 1px solid #ddd;
    }

    #programs tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #programs tr:hover {
        background-color: #ddd;
    }

    #programs th {
        text-align: left;
        background-color: steelblue;
        color: white;
    }

.filter-button {
    float: right;
    background: #44A89C;
    border-color: #44A89C;
    margin-top:10px;
}
    .filter-button:hover, .filter-button:focus {
        background: #244A5C;
        border-color: #244A5C;
    }

    .filter-title {
        font-size: 14px;
        font-weight: bold;
    }

.multiselect {
    height: 5em;
    border: solid 1px #c0c0c0;
    overflow: auto;
    padding: 5px;
    width: 100%;
}

    .multiselect label {
        display: block;
    }

.multiselect-on {
    color: #ffffff;
    background-color: #000099;
}

.checkbox-group label {
    padding: 0;
    font-size: 11px;
    margin: 0px;
    width: 100px;
}
.filter-row{ margin-left:-5px;margin-right:-5px;margin-top:20px;}
.filter-col {
    padding: 0 5px;
    flex: 0 0 14.2%;
    max-width: 14.2%;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 8px;
}

.btn-advance-filter {
    background: transparent;
    border: 0;
    font-size: 18px;
    text-decoration: underline;
}

    .btn-advance-filter:focus {
        outline: none;
    }

.top-row.px-4 {
    justify-content: flex-start;
}



a {
    text-decoration: none !important;
}


.myform {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1.6rem 2rem 1.2rem 2rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
    margin: 30px 0;
}

.tx-tfm {
    text-transform: uppercase;
}

.mybtn {
    border-radius: 50px;
}

.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.google {
    color: #666;
    width: 100%;
    height: 40px;
    text-align: center;
    outline: none;
    border: 1px solid lightgrey;
}

form .error {
    color: #ff0000;
}

#second {
    display: none;
}

.login-box-col{ max-width:400px;}
.navbar {
    background-color: #fff !important;
}
.welcome-title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    color: #182F39;
}
.login-sub-title {
    font-size: 18px;
    color: #777777;margin:0;
}
.info-title {
    font-size: 16px;
}
.login-form .form-label {
    font-weight: 600;

    color: #777;
}
.login-form .link {
    color: #44A89C;text-decoration:underline !important;}
.login-form .form-control {
    font-size: 14px;

}
.form-control:focus {
    border-color: #44a89c;
    box-shadow: none;
}
    .login-form .form-control::placeholder{ color:#979797;}
    .login-form .form-control::-webkit-input-placeholder {
        color: #979797;
    }
    .login-form .form-control::-moz-placeholder {
        color: #979797;
    }
    .login-form .form-control:-ms-input-placeholder {
        color: #979797;
    }
.login-btn {
    background-color: #44A89C;
    border-color: #44A89C;
    margin:20px 0;
}
    .login-btn:hover {
        background-color: #244A5C;
        border-color: #244A5C;
    }
.top-row h4 {
    font-size: 20px;
    margin-top: 10px;
    color: #182F39;
    font-weight:600;
}
.error-login {
    background-color: #dc3545;padding:5px;border-radius:4px;
}
.welcome-user {
    float: right;
}
.top-row.px-5 {
    justify-content: space-between;
}
.nav-item .fa{ margin-right:10px;}
.search-icon {
    color: #44A89C;
}

@media (max-width:767px) {
    .filter-button{ float:none;}
    .filter-col {
        flex: 0 0 33.33333%;
        max-width: 33.333333%;
        margin-bottom: 15px;
    }
}

    @media (min-width:768px) {
        .main-right {
            position: absolute;
            padding-left: 250px;
            height: 100%;
            width: 100%;
            padding-top:70px;
        }
        .sidebar{ position:fixed;z-index:4;}
    }




/************************************************************Main Page and Login css end here************************************************************************/



/*Blazor Losader css start from here*/

.blazor-loadingindicator-loader-wrapper {
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}

.blazor-loadingindicator-loader {
    margin-right: 2em;
}

@keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.lds-dual-ring {
    position: relative;
}

    .lds-dual-ring div {
        position: absolute;
        width: 4em;
        height: 4em;
        border-radius: 50%;
        border: 0.25em solid #000;
        border-color: #1d3f72 transparent #1d3f72 transparent;
        -webkit-animation: lds-dual-ring 1s linear infinite;
        animation: lds-dual-ring 1s linear infinite;
    }

.lds-dual-ring {
    width: 4em !important;
    height: 4em !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

